body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-top: 20px;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    margin-top: 20px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
p{
    color: dimgray;
    margin-bottom: 50px;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.half-width img{
    width: 100%;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url("images/exp-bg1.png");
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 10%;
}
.experience-area .title{
    text-align: left;  
    margin-left: 5%;
}
.d-flex{
    display: flex;
    margin-right: 5%;
}
.experience-area h2{
    font-size: 30px;
}
.experience-area h3{
    color: orange;
}
.experince-item{
    box-shadow: 0px 0px 20px gray;
    width: 40%;
    margin-left: 5%;
    padding: 20px 30px;
    border-radius: 10px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, orange, aqua);
    border-image-slice: 1;
}
#graphic-designer{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer{
    overflow: hidden;
    margin-top: 2%;
}
footer p{
    text-align: center;
}